body {
    margin: 0;
    padding: 0;
 }
 .spacer {
   margin-top: 0%;
   margin-bottom: 2%;
 }      
 .block {
   height: 500px;
   padding-top: 5px;  
   /*background-color: orange;*/
   
 }  
 .block2 {
   min-width: 65%;
   min-height: 400px;
   padding-top: 35px; 
   /*background-color: rgb(225, 0, 255);*/
   border-color: rgb(149, 148, 148);
   border-style:solid;
   /*border-top-right-radius: 20px;*/
   border-top-left-radius: 60px;
   border-bottom-right-radius:60px;
   /*border-bottom-left-radius: 20px;*/
   border-width: thin;
   
 } 
 .center {
   position: absolute;
 /*  top: 0;
   bottom: 0; */
   left: 0;
   right: 0;
   margin: auto;  
 }
 
 .nav{
     width:100%;
     background-color: black;
     overflow: auto;
 }
 
 ul {  
   list-style-type: none;  
   margin: 0;  
   padding: 0px;  
   overflow: hidden;  
   background-color: lightgray;  
 }  

 .topnav{
     background: black;
     margin-top: 0px;
     margin-left: 0px;
     margin-right: 0px;
     height:60px;
     padding-top: 0px;
 }
 .navbar{
   margin-top: 0px;
 }

 .nav-menu{
    padding-bottom:20px;
    margin-left:10%;
    margin-right:10%;
}
.nav-menu li {
    list-style-type:none;
    display:inline-block;
    font-size: 18px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding:5px;
    text-decoration: none;
}
.menubutton1{
    text-decoration: none;
    color: gray;
    background-color: white;
    border-radius: 50px;
    border-color: rgb(185, 185, 185);
    height: 40px;
    width: 40px;
    font-size: medium;
}
.menubutton2{
    text-decoration: none;
    color: gray;
    background-color: white;
    border-radius: 50px;
    border-color: rgb(185, 185, 185);
    height: 40px;
    width: 40px;
    font-size: medium;
}
.menubutton3{
    text-decoration: none;
    color: gray;
    background-color: white;
    border-radius: 50px;
    border-color: rgb(185, 185, 185);
    height: 40px;
    width: 40px;
    font-size: medium;
}

.menubutton1:hover{
    background-color:rgb(244, 9, 9);
    color: white;
    transition: 0.5s;
    text-decoration: solid;
}

.menubutton2:hover{
    background-color:rgba(244, 132, 5, 0.918);
    color: white;
    transition: 0.5s;
    text-decoration: solid;
}

.menubutton3:hover{
    background-color:rgb(49, 101, 3);
    color: white;
    transition: 0.5s;
    text-decoration: solid;
}

.list{
    background-color: white;
    margin-left: 5%;
    margin-right:5%;
}

.textarea{
    width:100%;
}

.commentbox{
    width:100%;
    height: 100px;
}

.btn{
    display: block;
    margin: 0 auto;
    background-color:black;
    color: white;
    font-size: medium;    
}

.btn:hover{
    background-color:green;
    color: white;
    transition: 0.5s;
    text-decoration: solid;
}

.sub{
    height: 50px;
}
